<section class="row">
    <div class="col-md-12">
       <nav class="navbar navbar-expand-md navbar-light btn-light p-3">
               <a href='' class="navbar-brand">Soko <b class="text-success">Garden</b></a>
               <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                   <span class="navbar-toggler-icon"></span>
              </button>

               <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">
                         <a href='' class="nav-item nav-link">Home</a>
                         <a href='' class="nav-item nav-link">Blog</a>
                         <a href='' class="nav-item nav-link">About US</a>
                    </div>
                   <div class="ms-auto">
                    <!--    TODO Logout-->
                    {% if session['key'] %}
                        <!-- if it exists, show the username stored in the key, show logout button --><p>Logged in :{{session['key']}}</p>
                        <a href="/logout">Log Out</a>
                    {% else %}
                        <!-- if it does not exist, means user is not logged in, so give a link to login -->
                        <a href="/signin">Not Signed in ? Sign in Now</a>
                    {% endif %}
                   </div>

               </div>
       </nav>
    </div>
</section>